# Google API and scrape

In [1]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

# Import all methods from all files in src
from src.google import Google
from src.dataUpdate import DataUpdate

In [5]:
search = "Ceo London 15 years"
result = Google(search).search(20)
tmp = DataUpdate("../data.csv", result.Links(), search).run()

In [6]:
import pandas as pd
pd.read_csv("../data.csv")

,url,search
0,https://uk.linkedin.com/in/dan-hobbs-5339439,Barrister London 15 years
1,https://uk.linkedin.com/in/greg-krieger-86440819,Barrister London 15 years
2,https://uk.linkedin.com/in/sam-nicholls-24765187,Barrister London 15 years
3,https://uk.linkedin.com/in/nabila-mallick-671a2b7,Barrister London 15 years
4,https://uk.linkedin.com/in/james-bickford-smit...,Barrister London 15 years
5,https://uk.linkedin.com/in/mark-harrop-family-law,Barrister London 15 years
6,https://uk.linkedin.com/in/william-england-1a0...,Barrister London 15 years
7,https://uk.linkedin.com/in/klentiana-mahmutaj-...,Barrister London 15 years
8,https://uk.linkedin.com/in/jhldewaal,Barrister London 15 years
9,https://uk.linkedin.com/in/graeme-kirk-18969618,Barrister London 15 years
10,https://uk.linkedin.com/in/seanwjones,Barrister London 15 years
11,https://uk.linkedin.com/in/susan-p-webb-llb-ho...,Barrister London 15 years
12,https://uk.linkedin.com/in/georginablower,Barrister London 15 years
13,https://uk.linkedin.com/in/clare-dowse-006a4637,Barrister London 15 years
14,https://uk.linkedin.com/in/harriet-brown-62984a31,Barrister London 15 years
15,https://uk.linkedin.com/in/james-martin-9b517b29,Barrister London 15 years
16,https://uk.linkedin.com/in/simonjohnharding,Barrister London 15 years
17,https://uk.linkedin.com/in/nicholas-leah-22035297,Barrister London 15 years
18,https://uk.linkedin.com/in/cicely-hayward-3b75...,Barrister London 15 years
19,https://uk.linkedin.com/in/tom-mountford-0930a444,Barrister London 15 years
20,https://uk.linkedin.com/in/davidsimoesbrown,Ceo London 15 years
21,https://uk.linkedin.com/in/rohit-chandiramani-...,Ceo London 15 years
22,https://uk.linkedin.com/in/romaniethomas,Ceo London 15 years
23,https://uk.linkedin.com/in/emilievanpoperinghe,Ceo London 15 years
24,https://uk.linkedin.com/in/paulgoodwin77,Ceo London 15 years
25,https://uk.linkedin.com/in/lucas-london,Ceo London 15 years
26,https://uk.linkedin.com/in/matt-brittin-5aa6391,Ceo London 15 years
27,https://uk.linkedin.com/in/georgesverdis,Ceo London 15 years
28,https://uk.linkedin.com/in/nish-kankiwala,Ceo London 15 years
29,https://uk.linkedin.com/in/dana-strong-sky,Ceo London 15 years
30,https://uk.linkedin.com/in/paul-brown-16bb985,Ceo London 15 years
31,https://uk.linkedin.com/in/gail-gallie-19097010,Ceo London 15 years
32,https://uk.linkedin.com/in/juliobruno,Ceo London 15 years
33,https://uk.linkedin.com/in/michaelactonsmith,Ceo London 15 years
34,https://www.linkedin.com/in/phillip-bodenham-2...,Ceo London 15 years
35,https://uk.linkedin.com/in/julieannecohen,Ceo London 15 years
36,https://uk.linkedin.com/in/rob-straathof-3b56152,Ceo London 15 years
37,https://uk.linkedin.com/in/jo-sutherland-42394031,Ceo London 15 years
38,https://uk.linkedin.com/in/seandaganwood,Ceo London 15 years

In [7]:
import os
print(os.path.getsize("../data.csv"))

2786